/* INDEX */

html {
    scroll-padding-top: 4rem;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1B3A4B;
    margin: 0;
}

header {
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
}

header h1 {
    color: #6FFFE9;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;  
}

.description {
    color: #E0FBFC;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 40px;
}

.topics {
    width: 100%;
    margin: 0 auto;
}

.topics section {
    text-align: center;
    width: 100%;
}

.topics h2 {
    font-size: 1.5rem;
    color: #E0FBFC;
    text-align: center;
}

img {
    max-width: 250px;
    max-height: 250px;
}

.img-container {
    display: inline-block;

}

figcaption {
    text-align: center;
    color: #E0FBFC;
}

/* HTML  */

.html-home-button {
    width: 25px;
    height: 25px;
}

.html-home-button img {
    max-width: 25px;
    max-height: 25px;
}

.html-description {
    text-align: center;
    margin: 0;
    color: #E0FBFC;
    margin-bottom: 40px;
}

table {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #2A4494;
    color: #E0FBFC;
}

tr th {
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #6FFFE9;
    text-align: left;
}

th {
    background-color: #3D5A80;
    font-weight: bold;
}

td code {
    background-color: #1B3A4B;
    padding: 2px 4px;
    border-radius: 4px;
}

tr td h1, h2, h3, h4, h5, h6 {
    margin: 0;
}